:root {
  --text-color: #f1f1f1;
  --primary-color: #1f1f1f;
  --secondary-color: #3c3c3c;
}
.App {
  background-color: #3c3c3c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.hero {
  font-size: 26px;
  border: none;
  color: var(--text-color);
  background-color: inherit;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 40px;
  padding: 10px 0px;
  font-size: 20px;
  box-shadow: #000 0px 0px 5px 1px;
  z-index: 22;
}
.footer a {
  text-decoration: none;

}
.footer a:link {
  color: #9d5ef6;
}
.footer a:visited {
  color: rgb(94, 126, 254);
}
.nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 50px;
  z-index: 1;
  box-shadow: #000 0px 0px 5px 1px;
}
.nav-button {
  height: 50px;
  width: 120px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin: 0 1px;
  color: var(--text-color);
}
.nav-button:hover {
  background-color: #151515;
  color: var(--text-color);
}
.nav-button-container {
  background-color: var(--text-color);
  padding: 0 1px;
}
.stopwatch-container {
  position: absolute;
  width: 120px;
  height: 50px;
  top: -50px;
  left: calc(50% - 60px);
  font-size: 24px;
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.checklist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 12px;
  top: 15px;
  gap: 5px;
}
.check-image {
  height: 260px;
  z-index: 0;
}
.gray-filter {
  background-color: #3c3c3c85;
  position: absolute;
  height: 265px;
  width: 185px;
  z-index: 10;
}
.check-char {
  display: flex;
  justify-content: center;
  position: relative;
  height: 280px;
}
.top-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1100px;
  color: white;
  border: 5px #000 solid;
  box-shadow: #000 0px 0px 5px -1px;
}
.grid-slot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  text-align: center;
  font-size: 22px;
  background-color: black;
}
.grid-slot:nth-child(2n + 1) > .grid-item {
  background-color: var(--primary-color);
}
.grid-item {
  padding: 4px 0;
  background-color: var(--secondary-color);
}
.leaderboard-header {
  margin: 0;
  text-align: center;
  padding: 50px;
  border-bottom: #000 3px solid;
}
.leaderboards {
  display: flex;
  justify-content: center;
}
.leaderboard-grid {
  display: grid;
  grid-template-rows: repeat( 11, 1fr);
  background-color: #000;
}
.modal {
  font-size: 20px;
  border-radius: 8px;
  position : absolute;
  width: 400px;
  height: 700px;
  top: calc(50% - 350px);
  left: calc(50% - 200px);
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  outline: solid #000 4px ;
  box-shadow: #000 0px 0px 7px 3px;
}
.modal-image-container {
  min-width: 130px;
  display: flex;
  justify-content: center;
}
.modal-image {
  height: 200px;
  max-width: 130px;
}
.start-button {
  border: none;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 9px;
  position: relative;
  bottom: 6px;
  outline: solid #000 2px ;
  box-shadow: #000 0px 0px 5px 1px;
}
.start-button:hover {
  background-color: #151515;
  color: #fff;
}
.game-image {
  height: calc(942px - 90px);
  box-shadow: -10px 0px 0px 0px #000, 10px 0px 0px 0px #000, -9px 0px 8px 2px #000, 9px 0px 8px 2px #000;
}
#submission-modal {
  height: 250px;
  top: calc(50% - 125px);
}
.finished-time {
  margin: 0px;
}
.end-message {
  margin: 0px;
}
.message {
  position: absolute;
  background-color: #111111bd;
  width: auto;
  padding: 4px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  color: white;
  z-index: 0;
}
.message-container {
  position: absolute;
  display: flex;
  width: 300px;
  justify-content: center;
}
.message-image {
  height: 22px;
}
.message-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.character-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 21.58px 0;
  cursor: pointer;
}
.character-container {
  margin: 5px;
}
.target-box {
  height: 150px;
  z-index: 6;
}
.drop-down {
  position: absolute;
  border: #000 3px solid;
  border-radius: 1px;
  outline: 3px solid white;
  box-shadow: 0px 0px 0px 6px #000, 0px 0px 7px 6px #000, inset 0px 0px 6px -2px #000;
  width: 150px;
}
.drop-down-list {
  color: white;
  width: 120px !important;
  background-color: var(--secondary-color);
  z-index: 25;
}